* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #b0bec5;
  }

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    text-shadow: 3px 3px 10px #e8aa6c;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: #b0bec5y;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-container {
    width: 400%;
    display: flex;
    transition: 0.4s cubic-bezier(0.89, 0.01, 0.17, 0.99);
}

.wrapper {
    width: 80%;
    overflow: hidden;
    box-shadow: 0px 0px 33px 1px rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid black;
}

.slide {
    width: 25%;
}

input {
    display: none;
}

img {
    width: 100%;
    border-radius: 10px;
    /* border: 5px solid black; */
    margin: 0;
}

.btns {
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 100%;
    width: 2em;
    background-color: green;
    border: 8px solid #b0bec5;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background-color: blue;
}

.controls {
    margin-top: 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Lobster', cursive;
    font-size: 2vw;
    display: none;
    transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
}

.names {
    height: 4vw;
    width: 40vw;
    overflow: hidden;
    transition: 0.7s cubic-bezier(0.89, 0.01, 0.17, 0.99);
}




#p1:checked ~ .wrapper > .slide-container  {
    transform: translate(0%, 0%);
}

#p2:checked ~ .wrapper > .slide-container {
    transform: translate(-25%, 0%);
}

#p3:checked ~ .wrapper > .slide-container  {
    transform: translate(-50%, 0%);
}

#p4:checked ~ .wrapper > .slide-container {
    transform: translate(-75%, 0%);
}


#p1:checked ~ .controls > .btns > .b1 {
    background-color: orange;
}

#p2:checked ~ .controls > .btns > .b2 {
    background-color: orange;
}

#p3:checked ~ .controls > .btns > .b3 {
    background-color: orange;
}

#p4:checked ~ .controls > .btns > .b4 {
    background-color: orange;
}



#p1:checked ~ .controls > .names > .names-container > .n1 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun 0.6s 1 ease-in-out;
}

#p2:checked ~ .controls > .names > .names-container > .n2 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun1 0.6s 1 ease-in-out;
}

#p3:checked ~ .controls > .names > .names-container > .n3 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun2 0.6s 1 ease-in-out;
}

#p4:checked ~ .controls > .names > .names-container > .n4 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun3 0.6s 1 ease-in-out;
}

@keyframes boun {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

  @keyframes boun1 {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

  @keyframes boun2 {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

  @keyframes boun3 {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

