* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
  }

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-container {
    width: 70vw;
    height: 90vw;
    display: flex;
    border-radius: 10px;
    border: 5px solid black;
    overflow: hidden;
    background-image: url(../cssMemSlider/mems/0.jpg);
    background-size: 100% 100%;
    transition: 0.4s cubic-bezier(0.89, 0.01, 0.17, 0.99);
}

input {
    display: none;
}

img {
    height: 100%;
    width: 100%;
}

.btns {
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 100%;
    width: 2em;
    background-color: green;
    border: 8px solid rgba(128, 128, 128, 1);
    border-radius: 1em;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background-color: blue;
}

.controls {
    margin-top: 2em;
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Lobster', cursive;
    font-size: 2vw;
    display: none;
    transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
}

.names {
    height: 4vw;
    width: 40vw;
    overflow: hidden;
    transition: 0.7s cubic-bezier(0.89, 0.01, 0.17, 0.99);
}

.names-container {
}




#p1:checked ~ .slide-container  {
    transform: rotate(360deg);
    background-image: url(../cssMemSlider/mems/0.jpg);
    animation: bounce 0.6s 1 ease-in-out;
}

#p2:checked ~ .slide-container {
    transform: rotate(deg);
    background-image: url(../cssMemSlider/mems/1.png);
    animation: bounce1 0.6s 1 ease-in-out;
}

#p3:checked ~ .slide-container  {
    transform: rotate(720deg);
    background-image: url(../cssMemSlider/mems/2.jpg);
    animation: bounce2 0.6s 1 ease-in-out;
}

#p4:checked ~ .slide-container {
    transform: rotate(720deg);
    background-image: url(../cssMemSlider/mems/3.jpg);
    animation: bounce3 0.6s 1 ease-in-out;
}


#p1:checked ~ .controls > .btns > .b1 {
    background-color: orange;
}

#p2:checked ~ .controls > .btns > .b2 {
    background-color: orange;
}

#p3:checked ~ .controls > .btns > .b3 {
    background-color: orange;
}

#p4:checked ~ .controls > .btns > .b4 {
    background-color: orange;
}


@keyframes bounce {
    from {
        transform: scaleX(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleX(1);
    }
  }

  @keyframes bounce1 {
    from {
        transform: scaleX(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleX(1);
    }
  }


  @keyframes bounce2 {
    from {
        transform: scaleX(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleX(1);
    }
  }


  @keyframes bounce3 {
    from {
        transform: scaleX(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleX(1);
    }
  }

#p1:checked ~ .controls > .names > .names-container > .n1 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun 0.6s 1 ease-in-out;
}

#p2:checked ~ .controls > .names > .names-container > .n2 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun1 0.6s 1 ease-in-out;
}

#p3:checked ~ .controls > .names > .names-container > .n3 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun2 0.6s 1 ease-in-out;
}

#p4:checked ~ .controls > .names > .names-container > .n4 {
      display: block;
      transition: 0.9s cubic-bezier(0.89, 0.01, 0.17, 0.99);
      animation: boun3 0.6s 1 ease-in-out;
}

@keyframes boun {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

  @keyframes boun1 {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

  @keyframes boun2 {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

  @keyframes boun3 {
    from {
        transform: scaleY(-1);
      animation-timing-function: ease-out;
    }
    to {
        transform: scaleY(1);
    }
  }

